schemas/athleteSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
   
   Final Project
   
   Filename: athleteSchema.xsd
   Author: Chris Benzola
   Date:   04/28/2019
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="name" type="xs:string"/>
    <xs:element name="team" type="xs:string"/>
    <xs:element name="image" type="xs:string"/>
    <xs:element name="year" type="xs:short"/>
    <xs:element name="hits" type="xs:byte"/>
    <xs:element name="homeruns" type="xs:byte"/>
    <xs:element name="average" type="xs:float"/>
    <xs:element name="onbase" type="xs:float"/>
    <xs:element name="war" type="xs:float"/>
    <xs:element name="athlete">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="team"/>
                <xs:element ref="image"/>
                <xs:element ref="year"/>
                <xs:element ref="hits"/>
                <xs:element ref="homeruns"/>
                <xs:element ref="average"/>
                <xs:element ref="onbase"/>
                <xs:element ref="war"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="athletes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="athlete" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>