schemas/gloveSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
   
   Final Project
   
   Filename: gloveSchema.xml
   Author: Chris Benzola
   Date:   04/28/2019
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://example.com/glove/ns"
			targetNamespace="http://example.com/glove/ns">
    
    <xs:element name="gloves">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="glove" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="gloveImage"/>
                            <xs:element type="xs:string" name="gloveBrand"/>
                            <xs:element type="xs:string" name="gloveName"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="gloveID"/>
                            <xs:element type="xs:float" name="glovePrice"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

